{% extends 'base.html' %}
	{% load static %}
	{% block contenido %}

		<div class="row d-flex justify-content-between align-items-center ml-3 mr-3">
			<div class="d-flex justify-content-start text-muted">
				
				<h1>{{rubroUnico}}</h1>
				
			</div>
			<div>
				<span class="d-flex align-items-center">
					{{ object_list|length }} resultados.
				</span>
			</div>
			<div clas="col-12 mt-3 mb-3 ml-5">

				<form action="">
					<div class="d-flex justify-content-center align-items-center">
						<select name="filtro" class="custom-select">							
							<option value="0">Todos los Rubros</option>
							{% for p in rubros %}
								<option value='{{p.pk}}'>{{p.nombre}}</option>
							{% endfor %}
							
						</select>
						<button type="submit" class="ml-2 btn-sm btn btn-secondary">Filtrar</button>
					</div>
				</form>
			</div>
			<div>
				<form action="">
					<div class="d-flex justify-content-center align-items-center">
					<select name="disponibles" id="" class="custom-select">
						<option value="no">Todos los Productos</option>
						<option value="si">Disponibles</option>
					</select>
					<button type="submit" class="ml-2 btn-sm btn btn-secondary">Filtrar</button>
					</div>
				</form>
			</div>
			<div>
				<button type="button" class="btn btn-success mb-2 mt-2 ml-2 mr-2"><a class="text-light" href="{% url 'productos:agregar' %}">Agregar Producto +</a></button>
			</div>
		</div>
		
		<div class="row">
			<div class="col-2">
				<form class="ml-3 mt-2">
					<label for="">Filtro por precio ($)</label>

					<input type="number" name="desde" placeholder="desde">
					<input type="number" name="hasta" placeholder="hasta">
		
					<div class="mt-2">
						<button type="submit" class="btn-sm btn btn-secondary"> Filtrar </button>
					</div>					
				</form>
			</div>
			<div class="col-10">
				<div class="card-deck mr-2 pb-4 bg-white rounded-lg">
					
					{% if not object_list|length %}
							<h3 class="ml-3 mt-2"><label class="text-secondary" for="">No hay resultados</label></h3>
						{% endif %}

					{% for p in object_list %}
						<div class="card mb-3 shadow-sm bg-gradient-light rounded d-flex align-items-center" style="min-width: 300px; 
						background-color: rgba(124, 124, 124, .4);">
					
							<div class="row no-gutters d-flex align-items-center" style="height:100%">
						    	<div class="col-md-4 d-flex align-items-stretch">
						    	{% if p.imagen %}
						    		<img src="{{p.imagen.url}}" class="card-img" alt="...">
						    	{%endif%}
						    	</div>

						    	<div class="col-md-8">
						    		<div class="card-body">
						    			<a href="{% url 'productos:detalle' p.pk %}"><h6 class="card-title">{{p.nombre}}</h6></a>

						    			<label class="card-text"><small>Stock: {% if p.stock > 0 %} {{p.stock}} {% endif %} {% if p.stock <= 0 %} <p class="text-danger"> No disponible</p> {% endif %}</small></label> 
						    			<div>
						    				<label class="card-text"><small class="text-muted">$ {{p.precio}}</small></label>
						    				<a class="ml-2 mr-2" href="{% url 'productos:modificar' p.pk %}"><img width="15" src="{% static 'img/edit.svg' %}" alt=""></a>
							    			{% if p.pk in favList %}
							    				<a href="{% url 'favorite:agregar' p.pk %}"><img width="20" src="{% static 'img/fav.svg' %}" alt=""></a>
							    			{% else %}	
							    				<a href="{% url 'favorite:agregar' p.pk %}"><img width="20" src="{% static 'img/noFav.svg' %}" alt=""></a>
							    			{% endif %}
							    		</div>
						    		</div>
						  		</div>
							</div>
						</div>

				
					{% endfor%}	
				</div>
			</div>
		</div>

	{% endblock contenido %}
