{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="shortcut icon" href="https://cdn.shopify.com/s/files/1/1061/1924/files/Alien_Emoji.png?8026536574188759287" type="icon/png">
	<title>Blog Ema</title>
</head>
<body>
	<div class="container-fluid" style="background-color: rgb(219, 219, 219)">
		

		<div class="row">
			<div class="col-4 nav">
				<div style="margin: 10px" class="d-flex align-items-center">
					{% if user.is_authenticated %}
						<b class="text-light mr-2">Hola, {{user.username}}!</b>
						<a href="{% url 'logout' %}"><img class="ml-2" src="{% static 'img/poweroff.png' %}" width="20" alt="logout" title="Logout"></a>
					{% else %}
						<a href="{% url 'login' %}">Login</a>
					{% endif %}
				</div>	
			</div>	
			<div class="col-4 nav d-flex justify-content-center">
				<button type="button" class="mt-2 mb-2 btn btn-sm " onClick="location.href='{% url 'start' %}'"><img class="" src="{% static 'img/home.png' %}" alt="" width="30"></i></button>
			</div>			
			
			<div class="col-4 nav d-flex justify-content-end">
				<a href="#"><img  height = '50' width = '200' src="https://media.flaticon.com/dist/min/img/logo/freepikcompany.svg" /></a>
			</div>
		</div>

		<div class="contenido" style="min-height: 550px">
		{% block contenido %}

		{% endblock contenido %}
		</div>

		<div class="row">
			<div class="col-12 foot">
				<p style="margin: 20px">Footer</p>
			</div>
		</div>

	</div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>